name: CI & CD
on:
    push:
        branches-ignore:
            - master
        tags-ignore:
            - v0.*
env:
    IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/v') }}

jobs:
    ci:
        name: Build / Preview / Release
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4
              with:
                  version: 10
            - uses: actions/setup-node@v4
              with:
                  node-version: 22
                  registry-url: https://registry.npmjs.org
                  cache: pnpm
            - name: Install Dependencies
              run: pnpm i --frozen-lockfile

            - name: Build & Publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: |
                  if [ $IS_RELEASE = "true" ]; then
                      npm publish --access public --provenance
                  else
                      pnpm build
                  fi
            - name: Update document
              if: env.IS_RELEASE == 'true'
              uses: peaceiris/actions-gh-pages@v4
              with:
                  publish_dir: ./docs
                  personal_token: ${{ secrets.GITHUB_TOKEN }}
                  force_orphan: true

            - uses: amondnet/vercel-action@v25
              with:
                  vercel-token: ${{ secrets.VERCEL_TOKEN }}
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
                  vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
                  working-directory: ./docs
                  vercel-args: ${{ env.IS_RELEASE == 'true' && '--prod' || '' }}
